@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Outfit&family=Yeseva+One&display=swap'); 

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*NAVEGADOR---------------------------------------------------------*/

/*NAVEGADOR CON LOGO SEARCH BAR Y ICONS*/
.navegador_top{
    display: flex;
    justify-content: space-between;
}

.usuario_nav{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.search_bar_container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.search_bar_nav input,button{
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    color: #A11130;
    font-size: 1.9vh;
}

.search_bar_nav{
    width: 700px;
    height: 45px;
    background-color: #A11130;
    display: flex;
}

.search_bar_nav input{
    padding: 10px 20px;
    flex: 1;
}

.search_bar_nav button{
    background-color: #FCDDD2;
    border-style: none;
    padding: 10px 50px;
}

#logo_nav{
    height: 110px;
    margin-left: 50px;
}

#icon_user{
    height: 40px;
    margin-right: 20px;
}

#icon_cart{
    height: 55px;
}

/*NAVEGADOR QUE TIENE LOS LINKS A OTRAS PAGINAS*/

.navegador_bottom{
    display: flex;
    background-color: #E1AC64;
    justify-content: center;
    border-radius: 100px;
    padding: 10px;
}

.links_nav{
    display: flex;
    align-items: center;
}


.links_nav li a{
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 2px 4px;
    margin: 70px;
    font-size: 1.9vh;
}



/*PAGINA: index.html------------------------------------------------*/

/*SLOGAN CON IMAGEN DE FONDO*/
.img_slogan{
    margin: 5vh 20vh;
    border-radius: 30px;
}

.slogan{
    position: absolute;
    top: 45vh;
    left: 30vh;
}

.img_slogan h1{
   color: #e1666a;
   font-size: 8vh;
   font-family: 'Abril Fatface', cursive;
   font-family: 'Outfit', sans-serif;
   font-family: 'Yeseva One', cursive;
}

.img_slogan button{
    background-color: #E1AC64;
    font-size: 3vh;
    border-style: none;
    margin-top: 25px;
    padding: 10px 50px;
    color: white;
}

.img_slogan img{
    width:100%;
    height: 50%;
    border-radius: 30px;
}

/*UBICACION*/

.ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0e8a5;
    padding: 5vh 2vh;
    margin: 5vh 20vh;
    border-radius: 30px;
}

.ubicacion h2{
    color: #e1666a;
    font-size: 6vh;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Yeseva One', cursive;
}

.ubicacion h3{
    font-family:  'Outfit', sans-serif;
    padding-top: 3vh;
    color: #b34246;
}

#informacion{
    font-family:  'Outfit', sans-serif;
    font-size: 3vh;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;

}

/*FOOTER----------------------------------*/

footer{
    display: flex;
    justify-content: space-between;
    background-color:#A11130;
    padding: 10px;
    font-family: 'Outfit', sans-serif;
    color:white;
}

footer h4{
    font-size: 2.2vh;
    text-align: center;
    margin:1vh;
}

.links_footer{
   display:flex; 
}


.links_footer li a{
    font-family: 'Outfit', sans-serif;
    color:rgb(255, 255, 255);
    padding: 2px 4px;
    margin: 10px;
    font-size: 1.9vh;
}

#facebook_footer{
    width: 6vh;
    margin-left: 10px;
}

#instagram_footer{
    width: 8.8vh;
    margin-left: 10px;
}

#youtube_footer{
    width: 6vh;
    margin-left: 10px;
    margin-right: 50px;
}

.redes_sociales{
    margin-top: 3vh;
    margin-bottom: 2vh;
}

/*PAGINA: productos.html------------------------------------------------*/

.grid_fotos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-color: #E1AC64;
    border-width: 10px;
}

.productos{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productos h1{
    text-align: center;
    margin-bottom: 30px;
    color: #e1666a;
    font-size: 6vh;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Yeseva One', cursive;
}

.tarjetas img{
    width: 300px;
    border-radius: 50px;
}

/*LOS ESTILOS MAS USADOS TEXTOS------------------------------*/

.h1_center_pink_cursive{
    text-align: center;
    margin-top: 30px;
    margin-bottom:30px;
    color: #e1666a;
    font-size: 6vh;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Yeseva One', cursive;
}

.h1_center_yellow_cursive{
    text-align: center;
    margin-top: 30px;
    margin-bottom:30px;
    color:#E1AC64;
    font-size: 6vh;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Yeseva One', cursive;
}

.h1_center_white_cursive{
    text-align: center;
    margin-top: 30px;
    margin-bottom:30px;
    color:white;
    font-size: 6vh;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Yeseva One', cursive;
}


.h1_center_pink_elegant{
    text-align: center;
    margin-top: 30px;
    margin-bottom:30px;
    color: #e1666a;
    font-size: 6vh;
    font-family: 'Outfit', sans-serif;
}

.h1_center_yellow_elegant{
    text-align: center;
    margin-top: 30px;
    margin-bottom:30px;
    color:#E1AC64;
    font-size: 6vh;
    font-family: 'Outfit', sans-serif;
}

.h1_center_white_elegant{
    text-align: center;
    margin-top: 30px;
    margin-bottom:30px;
    color:white;
    font-size: 6vh;
    font-family: 'Outfit', sans-serif;
}

.h2_center_pink_cursive{
    text-align: center;
    margin-top: 30px;
    margin-bottom:30px;
    color: #e1666a;
    font-size: 4vh;
    font-family: 'Outfit', sans-serif;
}

.h2_center_yellow_cursive{
    text-align: center;
    margin-top: 30px;
    margin-bottom:30px;
    color:#E1AC64;
    font-size: 4vh;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Yeseva One', cursive;
}

.h2_center_white_cursive{
    text-align: center;
    margin-top: 30px;
    margin-bottom:30px;
    color:white;
    font-size: 4vh;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Yeseva One', cursive;
}

.h2_center_pink_elegant{
    text-align: center;
    margin-top: 30px;
    margin-bottom:30px;
    color: #e1666a;
    font-size: 4vh;
    font-family: 'Outfit', sans-serif;
}

.h2_center_yellow_elegant{
    text-align: center;
    margin-top: 30px;
    margin-bottom:30px;
    color:#E1AC64;
    font-size: 4vh;
    font-family: 'Outfit', sans-serif;
}

.h2_center_white_elegant{
    text-align: center;
    margin-top: 30px;
    margin-bottom:30px;
    color:white;
    font-size: 4vh;
    font-family: 'Outfit', sans-serif;
}

.normal_text_label{
    font-family:  'Outfit', sans-serif;
    font-size: 3vh;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;

}

.normal_text_small_label{
    font-family:  'Outfit', sans-serif;
    font-size: 2vh;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;

}

/*PAGINA: sobre_nosotros.html----------------------------*/

.form_contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#FCDDD2;
    margin: 5vh 50vh ;
    border-radius: 50px;
}

.form_input{
    display: flex;
    flex-direction: column;
}

.radio_button{
    margin-bottom: 5px;
}

.desplegable{
    width: 20vh;
    height: 4vh;
}

.input_text{
    height: 4vh;
}

.text_area{
    width: 80vh;
    margin:20px;
}

.bt_lightpink{
    background-color: #FCDDD2;
    border-style: none;
    padding: 10px 50px;
    color:#A11130;
    font-size: 2vh;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Yeseva One', cursive;
    margin: 15px;
}

.bt_pink{
    background-color:#b34246;
    border-style: none;
    padding: 10px 50px;
    color:white;
    font-size: 2vh;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Yeseva One', cursive;
    margin: 15px;
}

.bt_yellow{
    background-color:#E1AC64;
    border-style: none;
    padding: 10px 50px;
    color:white;
    font-size: 2vh;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Yeseva One', cursive;
    margin: 15px;
}